{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body class="d-flex justify-align-item-center">
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class=" margin-top-2em">
        <img
          src="{% static 'images/success/success.svg' %}"
          alt="image"
          style="
            height: 50px;

            display: block;
            margin-left: auto;
            margin-right: auto;
          "
        />
      </div>
      <div class="message" style="margin-top:1rem;">
        <h3 style="text-align: center">payment is success</h3>
      </div>
      <div class="button d-flex justify-content-center"style="margin-top:2rem;">
        <a
          href="{% url 'home' %}"
          class="btn btn-success justify-content-center"
          >Buy another one</a
        >
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
